.ViewJob {

  h2 {
    margin-top: 6rem;
    text-align: center;
  }

  .container {
    margin: 5.5rem 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    a p {
      font-size: .9rem;
    }

    img {
      height: .9rem;
    }
  
    .icon-text {
      display: flex;
      flex-direction: row;
    }

    section {
      width: 50rem;

      .job {
        margin-top: 1.6rem;
        padding-right: 8rem;
        border-right: 1px solid #D3D3D3;

        h5 {
          margin: 1.2rem 0 .6rem 0;
          font-family: FreightBold;
        }

        h4 {
          margin-bottom: .4rem;
          font-family: FreightBold;
        }

        img {
          height: 1.3rem;
        }

        .apply-container {
          margin-top: 3rem;
          text-align: right;
          float: right;
        }
      }
    }

    aside {
      width: 13rem;
      margin-left: 3rem;
    }
  }
}