.Search h2 {
	margin-top: 6rem;
	margin-bottom: 1.6rem;
	text-align: center;
}

.Search .container {
	display: flex;
	flex-flow: row wrap;
	margin-top: 2rem;
	padding: 4rem;
	justify-content: center;
}

.Search aside {
	width: 16%;
}

.criteria-container {
	margin-top: 1rem;
	border: 1px solid $Light-Grey;
	padding: 2rem 1.6rem;
}

.criteria {
	display: flex;
	flex-direction: column;
}

.criteria h6 {
	font-family: FreightBold;
}

.criteria form {
	padding: .3rem 0 1rem .6rem;
}

.Search section {
	width: 50%;
	padding-left: 6rem;
}

.Search section h5 {
	color: #000;
	font-family: FreightBold;
}

.Search .job {
	padding-bottom: 3rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid $Light-Grey;
}

.job-header {
	display: flex;
	flex-direction: row;
}