.Search {

	h2 {
		margin-top: 6rem;
		margin-bottom: 1.6rem;
		text-align: center;
	}

	.container {
		display: flex;
		flex-flow: row wrap;
		margin-top: 2rem;
		padding: 4rem;
		justify-content: center;

		aside {
			width: 16%;

			.criteria-container {
				margin-top: 1rem;
				border: 1px solid #D3D3D3;
				padding: 2rem 1.6rem;

				.criteria {
					display: flex;
					flex-direction: column;

					h6 {
						font-family: FreightBold;
					}

					form {
						padding: .3rem 0 1rem .6rem;
					}

					.input-group {
						padding: .2rem;
					}
				}
			}
		}

		section {
			width: 50%;
			padding-left: 5rem;

			h5 {
				color: #000;
				font-family: FreightBold;
			}

			.job {
				padding-bottom: 3rem;
				margin-bottom: 3rem;
				border-bottom: 1px solid #D3D3D3;

				.job-header {
					display: flex;
					flex-direction: row;
					justify-content: space-between;

					.icon-text {
						display: flex;
						flex-direction: row;

						img {
							margin-right: .2rem;
							height: 1.2rem;
						}
					}
				} 

				p:nth-child(3), a p {
					margin: .6rem 0 0 1.4rem;
				}

				a p {
					font-family: FreightBold;					
				}
			}
		}
	}
} 